.wrapper {
    border: 1px solid red;
    margin: 1rem;
    padding: 0.5rem;
}

.inputWrapper {
    margin-top: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.inputElement {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.inputName {
    min-width: 150px;
}

.resultWrapper {
    margin-top: 1rem;
}