.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  gap: 0.25rem;
}

.wrapperLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  border: 1px solid #ff4141;
}

.typeCalculation {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
}

.addressButtons {
  display: flex;
  gap: 0.25rem;
}

.wrapperRight{
  width: 60%;
  border: 1px solid #ff4141;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.25rem;
}

.input {
  margin-left: 0.5rem;
  width: 300px;
}

.calculateButton {
  align-self: flex-start;
  margin: 0.25rem;
}

.sensors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ff4141;
  margin: 1rem;
}

.error {
  background-color: #ff7875;
  //color: black;
}

.warning {
  background-color: #ffcc5c;
  //color: white;
}